.wrapper {
  padding: 50px 0;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 1.5rem;
  font-family: "Playfair Display";
}

.title p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .title h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .title {
    text-align: center;
  }

  .title p {
    font-size: 1.125rem;
    font-weight: 500;
  }
}

.card {
  padding: 30px 0;
  background-color: #fff;
}

.cardWrapper {
  box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
  height: 100%;
  border-radius: 10px;
}

.cardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cardContent h4 {
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 12px;
}

.cardContent h6 {
  font-size: 14px;
  font-weight: 500;
  color: var(--MgGrey);
}

.cardContent p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 24px;
}

.cardContent a {
  padding: 10px;
  border-radius: 8px;
  border: 1.5px solid #8585854d;
}

.cardContent a:hover {
  color: var(--bgBody);
  background-color: var(--mgBlack);
  transition: ease-in-out 0.3s;
}
