.wrapper {
  padding-top: 40px;
  padding-bottom: 60px;
}

.magazineBorderWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.aboutHeader {
  text-align: center;
  font-size: 24px;
  line-height: 46px;
  margin-bottom: 0.5em;
  font-weight: 700;
  font-style: normal;
}

.aboutText {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 33.8px;
}

.imgCss {
  width: 100%;
  height: auto;
}

.imgContainer {
  position: relative;
  padding-top: 30px;
}

.services {
  position: absolute;
  background: var(--themeColor);
  width: 90%;
  top: -34px;
  left: 5%;
  display: flex;
  justify-content: center;
  gap: 1em;
  color: #fff;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 4px;
}

.serviceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.count {
  font-size: 24px;
  font-weight: 700;
}

.serviceText {
  font-size: 12px;
  font-weight: 600;
}

.divider {
  width: 2px;
  background: #fff;
}

.serviceIcon img {
  color: var(--white);
}

.serviceIcon {
  min-width: 70px;
  min-height: 70px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background-color: var(--greyExtraLight);
  transition: all 0.3s;
}

.serviceIcon:hover {
  transform: scale(1.1);
}

.serviceStepContainer {
  position: relative;
  display: flex;
  /* max-width: 250px; */
  align-items: center;
  gap: 1.5em;
}
/* 
.dottedConnector {
  position: absolute;
  border-right: 2px dotted #222f3e4d;
  height: 60px;
  top: 100%;
  left: 33px;
} */

.serviceStepIcon {
  margin-bottom: 1.5em;
}

.stepHeader {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #222f3e;
}

.stepText {
  font-size: 12px;
  color: #222f3e;
  font-weight: 400;
  margin-bottom: 0;
}

.serviceWrapper {
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .aboutText {
    font-size: 20px;
  }

  .services {
    top: -42px;
  }
}

.aboutHeader {
  font-size: 35px;
}

.count {
  font-size: 24px;
  font-weight: 800;
}

.serviceText {
  font-size: 12px;
}
