.wrapper {
  padding: 30px 0;
  background-color: #fff;
}

.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardContainer {
  display: grid;
  gap: 2em;
}

.recentCard:first-of-type {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.recentCard:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  gap: 1.5em;
  border-bottom: 1px solid var(--greyLight);
}

.recentCard:nth-of-type(3) {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  gap: 1.5em;
}

.card2Image {
  flex: 1;
}

.cardContent {
  padding: 7px;
}

.cardName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  font-size: 14px;
  font-weight: 600;
  color: var(--themeColor);
}

.cardName span:first-child {
  font-weight: 400;
  color: var(--greyDark);
}

.cardName span:last-child {
  font-weight: 500;
  color: var(--mgYellow);
}

.recentBlogContent {
  flex: 2;
  padding: 9px;
}

.recentBlogDivider {
  border: 1px solid #8585854d;
  margin: 12px 0;
}

.cardTitle {
  font-size: 1rem;
  font-weight: 600;
  margin: 8px 0;
}

.cardDesc {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0;
}

.cardDate {
  font-weight: 400;
  color: var(--greyDark);
}

@media (max-width: 480px) {
  .cardWrapper {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .recentBlogContent {
    padding-top: 0;
  }
  .cardContent {
    padding: 0;
  }
  .cardImg img {
    padding-bottom: 12px;
  }

  .cardTitle {
    font-size: 1rem;
    font-weight: 600;
    margin: 8px 0;
  }
  .wrapper {
    padding: 30px 0;
    background-color: #fff;
  }
}
