.wrapper {
  padding: 30px 0;
  background-color: #fff;
}

.cardImg img {
  width: 100%;
  height: auto;
  padding-bottom: 0px;
}

.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 16px; */
}

.card2Image img {
  width: 100%;
  height: auto;
}

.cardContent {
  padding: 7px;
}

.cardName {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 5px;
}

.cardName span:first-child {
  font-weight: 400;
  color: var(--greyDark);
}

.cardName span:last-child {
  font-weight: 500;
  color: var(--mgYellow);
}

.recentBlogContent {
  padding: 9px;
}

.recentBlogDivider {
  border: 1px solid #8585854d;
  margin: 12px 0;
}

.cardTitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.cardDesc {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0;
}

.cardDate {
  font-weight: 400;
  color: var(--greyDark);
}

@media (max-width: 480px) {
  .cardWrapper {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .recentBlogContent {
    padding-top: 0;
  }
  .cardContent {
    padding: 0;
  }
  .cardImg img {
    padding-bottom: 12px;
  }

  .cardTitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  .wrapper {
    padding: 50px 0;
    background-color: #fff;
  }
}
