.btnPrimary {
  background-color: var(--MgBlue);
  border: 1px solid var(--MgBlue);
  border-radius: 8px;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.btnPrimary:hover {
  transform: translateX(5px);
}
