.card {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.aside {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  padding: 20px;
  background: #1f2024;
  border-radius: 12px;
}

.asideHeading {
  padding-bottom: 20px;
  font-weight: 700;
  color: #fff;
}

.asideTitles {
  padding-top: 18px;
  padding-bottom: 13px;
  font-weight: 600;
  color: #fff;
}

.asideContent {
  font-weight: 400;
  color: #fff;
}

.heroMagazine {
  max-width: 665px;
  width: 100%;
  background-color: #fff;
  display: flex;
  border-radius: 12px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.heroMagazineImage img {
  display: inline-block;
  border-radius: 12px;
  max-width: 353px;
  width: 100%;
}

.magazine {
  padding: 20px;
  position: relative;
}

.magazineHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.magazineHeading:first-child {
  color: #5e707b;
  font-style: italic;
  font-weight: 600 !important;
}

.magazineHeading button {
  background: #38b6ff;
  border: 1px solid #38b6ff;
  color: #fff;
  padding: 8px;
  font-size: 12px;
}

.magazineContent {
  font-weight: 400;
  margin-top: 1.25em;
}

.magazineReadBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  float: left;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #ffb434;
  padding: 10px;
  background-color: #ffb434;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.magazineReadBtn:hover {
  background-color: #ea9d17;
  transition: 0.3s ease-in-out;
  outline: none;
  border: 1px solid #ea9d17;
}

.sidebarContent {
  display: flex;
}
