.wrapper {
  padding: 1.5em 0;
}

.subscribe {
  display: inline-block;
  max-width: 550px;
  width: 100%;
}

.buttonContainer {
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.subscribeBtn button {
  background-color: var(--black);
  border: 1px solid var(--black);
  transition: all 0.5s ease-out;
}

.subscribeBtn button:hover {
  transform: scale(1.1);
  background-color: var(--themeColor);
  color: var(--white);
  border: 1px solid var(--themeColor);
}

.buttonContainer svg {
  font-size: 14px;
}

.btnIcon {
  width: 16px;
  height: 20px;
}
