.wrapper {
  padding: 1.5em 0;
}

.subscribe {
  display: inline-block;
  max-width: 550px;
  width: 100%;
}

.buttonContainer {
  border-radius: 8px;
  background-color: var(--black);
  border: 1px solid var(--black);
  display: flex;
  align-items: center;
  gap: 4px;
}

.buttonContainer svg {
  font-size: 14px;
}

.btnIcon {
  width: 16px;
  height: 20px;
}
