.card {
  max-width: 328px;
  width: 100%;
  text-align: left;
}

.imgContainer {
  position: relative;
}

.btnContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.contentContainer {
  margin-top: 20px;
}

.name,
.date,
.file {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 400;
  size: 14px;
}

.contentContainer h4 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 16px 0;
}

.contentContainer p {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
}
