.aside {
  padding: 20px;
  background: #1f2024;
  border-radius: 12px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.aside img {
  max-width: 250px;
  width: 100%;
}

.asideHeading {
  margin-bottom: 20px;
  font-weight: 700;
  color: #fff;
}

.asideTitles {
  padding-top: 18px;
  padding-bottom: 13px;
  font-weight: 600;
  color: #fff;
}

.asideContent {
  font-weight: 400;
  color: #fff;
}
