/* styles/globals.css */
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: "ArticulatCFLight";
  src: url("../fonts/ArticulatCF-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "ArticulatCFNormal";
  src: url("../fonts/ArticulatCF-Normal.otf");
  font-weight: 400;
}

@font-face {
  font-family: "ArticulatCFRegular";
  src: url("../fonts/ArticulatCF-Regular.otf");
  font-weight: 500;
}

@font-face {
  font-family: "ArticulatCFMedium";
  src: url("../fonts/ArticulatCF-Medium.otf");
  font-weight: 600;
}

@font-face {
  font-family: "ArticulatCFBold";
  src: url("../fonts/ArticulatCF-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "ArticulatCFExtraBold";
  src: url("../fonts/ArticulatCF-ExtraBold.otf");
  font-weight: 800;
}

:root {
  --mgBlack: #000;
  --BgGradient: linear-gradient(104.94deg, #38b6ff -0.05%, #38ffdb 99.95%);
  --bgBody: #fff;
  --mgYellow: #ffb434;
  --MgGrey: #5e707b;
  --MgBlue: #38b6ff;
  --tablet: 768px;
  --desktop: 1024px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: "ArticulatCFNormal", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bgBody);
  color: var(--mgBlack);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}
