/* styles/globals.css */
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --black: #1f2024;
  --BgGradient: linear-gradient(104.94deg, #38b6ff -0.05%, #00d8b1 99.95%);
  --mgYellow: #ffb434;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}
