.recentContentLabel {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: left;
  }

  .newLabelHeading {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
  }

  .newsDate {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
  }