.header {
  background: var(--MgGrey2);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper a {
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
}
