.header {
  background: var(--themeColor);
  color: var(--black);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.wrapper a {
  color: var(--black);
  padding: 7px 0;
  font-size: 12px;
}
