.navbar {
  background-color: var(--black);
}

.logoImage {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

.searchBox {
  display: none;
}

.searchIcon {
  cursor: pointer;
}

.searchLabel {
  color: #fff;
  font-size: 14px;
  padding-right: 0.5em;
}

.actionLink {
  color: #fff;
  font-size: 14px;
}

.divider {
  color: #fff;
  font-size: 12px;
}
