.wrapper {
  padding: 50px 0;
}

.blogCardContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.blogCardContainer a {
  max-width: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .blogCardContainer {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .blogCardContainer a {
    max-width: 300px;
  }
}
