.card {
  position: relative;
  background-color: var(--greyExtraLight);
  padding: 2em 1.5em 1.5em;
  border-radius: 12px;
  cursor: pointer;
  min-height: 280px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.title {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.imgContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: var(--greyExtraDark);
  text-transform: capitalize;
}

.nameAndCompany {
  font-size: 1rem;
  font-weight: 500;
  color: var(--greyDark);
  margin: 0;
}

.quoteCss {
  width: 2rem;
  height: 2rem;
  background-color: var(--themeColor);
  position: absolute;
  top: -1em;
  left: 1em;
  text-align: center;
  line-height: 2rem;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 8px 25px 14px rgba(0, 0, 0, 0.01);
}
