.footer {
  padding: 2.5em 0 1.5em;
  background: #1f2024;
}

.footerImage {
  max-width: 230px;
  width: 100%;
  height: auto;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 2;
}

.footerLogoDescription {
  font-size: 12px;
  color: #fff;
}

.containerWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 2.5em;
}

.footerColumnCss {
  flex: 1;
}

.footerLinkTitle {
  color: var(--themeColor);
  padding-bottom: 12px;
  font-weight: 700;
}

.footerLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navLists {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navLists li {
  color: #fff;
  padding-bottom: 12px;
}

.navLists li a {
  font-size: 14px;
}

.tollFree {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #fff;
}

.tollFree a {
  transition: 0.3s;
}

.tollFree a:hover {
  color: var(--themeColor);
}

.socialContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.socialIcon {
  margin-top: 0.75rem;
}

.socialIcon a {
  color: #ffffff;
  cursor: pointer;
  margin-right: 27px;
  font-size: 25px;
}

.socialIcon svg:hover {
  color: #dadada;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.footerCopyright {
  padding-top: 1.5em;
  border-top: 1px solid var(--greyExtraDark);
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.divider {
  width: 1px;
  background-color: var(--greyExtraDark);
}

@media (min-width: 768px) {
  .containerWrapper {
    flex-direction: row;
  }
}
