.footer {
  padding: 40px 0;
  background: #1f2024;
}

.footerLogo {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 2rem;
}

.footerLogoDescription {
  color: #fff;
}

.containerWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footerLinkTitle {
  /* color: aquamarine; */
  background: linear-gradient(104.94deg, #38b6ff -0.05%, #38ffdb 99.95%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-bottom: 12px;
}

.footerLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
}

.navLists {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navLists li {
  color: #fff;
  padding-bottom: 12px;
}

.tollFree {
  font-size: 1rem;
  color: #fff;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.socialIcon {
  margin-top: 0.75rem;
}

.socialIcon a {
  color: #ffffff;
  cursor: pointer;
  margin-right: 27px;
  font-size: 25px;
}

.socialIcon svg:hover {
  color: #dadada;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.footerCopyright {
  background: var(--BgGradient);
  padding: 1.5em 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.divider {
  width: 1px;
  background-color: #8585854d;
}

@media(min-width: 992px) {
  .containerWrapper {
    flex-direction: row;
  }
}
